- drone.list_of_instructions.each do |progress|
  %li{class: progress[:status] ? 'active' : 'disabled'}
    -if progress[:status]
      = link_to(drone_update_activity_path(id: drone.id, message: progress[:name].to_s),method: :post, remote: true) do
        = progress[:name].capitalize
        %i progress[:name]
        = display_address(progress[:name], @item)
    -else
      = link_to "#" do
        = progress[:name].capitalize
        %i progress[:name]
        = display_address(progress[:name], @item)        
  - break if progress[:status]
