- if @error.present?
  alert("#{@error}")
- elsif @activity.completed?
  CommonFunction.updateProgressBar("#{@drone.progress_length}", "#{drone_url(@drone)}")
- else 
  $('.nav.nav-pills.nav-stacked').html("#{j render partial: 'drone/activity_list', locals: { drone: @drone, item: @activity.item }}")
  CommonFunction.activateToolTip()
  CommonFunction.updateProgressBar("#{@drone.progress_length}")
