<!DOCTYPE html>
<html>
  <head>
    <title>Distribution</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="bs-component">
    <% if flash.present? %>
      <%= render 'shared/flast_notification' %>
    <% end %>
    <div class='container'>
      <div class='row'>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
